.form_control{
    display: flex;
    flex-direction: column;

}

.form_control label{
    margin-bottom: 1em;
    font-weight: bold;
}

.form_control input{
    margin-bottom: 3em;
    padding: 0.5em;
}

.input::placeholder{
color:#7b7b7b;
}