.form_control{
    display: flex;
    flex-direction: column;

}

.form_control label{
    margin-bottom: 0.8em;
    font-weight: bold;
}

.form_control Select{
    margin-bottom: 1.5em;
    padding: 0.5em;
}

