@media screen and (max-width:1000px){
    .container{
        width: 1000px;
    }
}
    

.container{
    width: 1200px;
    justify-content: space-between;
    display: flex;
    margin:0 auto;
    flex-wrap: wrap;
    height: 100%;
    color: #2d3748;
    margin-top: 0px;

}
@media screen and (max-width:1000px){
    .container{
        width: auto;
    }
}


.min-height{
    min-height: 75%;
}


